@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-primary: #f9f9f9;
    --background-secondary: #e2e2e2;
    --foreground-primary: #222222;
    --foreground-secondary: #555555;
    --primary: #007acc;
    --primary-light: #68b1e1;
    --accent: #ff9800;
    --border-primary: #45669e;
    --modal-overlay: rgba(255, 255, 255, 0.5);
  }

  .dark {
    --background-primary: #121212;
    --background-secondary: #1e1e1e;
    --foreground-primary: #eaeaea;
    --foreground-secondary: #b3b3b3;
    --primary: #4ba3c3;
    --primary-light: #84c9e2;
    --accent: #ffb74d;
    --border-primary: #eaeaea;
    --modal-overlay: rgba(255, 255, 255, 0.5);
  }
}

#root {
  white-space: pre-line;
}

html {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
